:root {
  --primary: #ebc908;
  --primary-text: #fbf9fb;
  --secondary: #ff1dec;
  --secondary-text: #ffffff;
  --accent: #50505096;
  --accent-text: #ffffff;
  --rick: #97be77;
  --siyah: #1d1c1cc5;
}
